<footer>
  <ul class="footer__container">
    <li class="footer-item footer-item1">
      <a href="/contactUs">اتصل بنا</a>
    </li>
    <li class="footer-item footer-item2">
      <a href="/aboutUs">عن الموقع</a>
    </li>
    <li class="footer-item footer-item3">
      <a href="/">الرئيسيه</a>
    </li>
    <li class="footer-item footer-item3">
      <a href="/affilliate/register">تسجيل كمسوق</a>
    </li>
    <li class="footer-item footer-item3">
      <a href="https://www.facebook.com/tagerstore1"
        ><img src="/img/icon/facebook.png" alt="facebook" style="width: 32px"
      /></a>
    </li>
  </ul>
  <p class="footer__rights">All Rights Reserved For &rAarr; TAGERSTORE</p>
</footer>
<script src="/js/navbar.js"></script>
