<option value="Cairo">القاهرة</option>
<!--20-->
<option value="Giza">الجيزة</option>
<!--11-->
<option value="Qalyubia">القليوبية</option>
<!--21-->
<option value="Alexandria">الإسكندرية</option>
<!--1-->
<option value="Port Said">بورسعيد</option>
<!--9-->
<option value="Ismailia">الإسماعيلية</option>
<!--2-->
<option value="Monufia">المنوفية</option>
<!--25-->
<option value="Beheira">البحيرة</option>
<!--7-->
<option value="Aswan">أسوان</option>
<!--3-->
<option value="Asyut">أسيوط</option>
<!--4-->
<option value="Luxor">الأقصر</option>
<!--5-->
<option value="Red Sea">البحر الأحمر</option>
<!--6-->
<option value="Beni Suef">بني سويف</option>
<!--8-->
<option value="South Sinai">جنوب سيناء</option>
<!--10-->
<option value="Dakahlia">الدقهلية</option>
<!--12-->
<option value="Damietta">دمياط</option>
<!--13-->
<option value="Sohag">سوهاج</option>
<!--14-->
<option value="Suez">السويس</option>
<!--15-->
<option value="Sharqia">الشرقية</option>
<!--16-->
<option value="North Sinai">شمال سيناء</option>
<!--17-->
<option value="Gharbia">الغربية</option>
<!--18-->
<option value="Faiyum">الفيوم</option>
<!--19-->
<option value="Qena">قنا</option>
<!--22-->
<option value="Kafr El Sheikh">كفر الشيخ</option>
<!--23-->
<option value="Matruh">مطروح</option>
<!--24-->
<option value="Minya">المنيا</option>
<!--26-->
<option value="New Valley">الوادي الجديد</option>
