@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Almarai", sans-serif;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

@media only screen and (max-width: 33.75em) {
    main {
        padding: 5rem 1rem;
    }
}

.Reset {
    padding: 7rem 5rem 5rem;
    width: 50rem;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#AF87CE), to(#16D6FA));
    background-image: -o-linear-gradient(left top, #AF87CE, #16D6FA);
    background-image: linear-gradient(to right bottom, #AF87CE, #16D6FA);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

@media only screen and (max-width: 33.75em) {
    .Reset {
        min-width: 280px;
        width: 100%;
        padding: 6rem 2rem 4rem;
    }
}

.Reset__control {
    position: relative;
    margin-bottom: 1.5rem;
}

.Reset__label {
    position: relative;
    padding: .5rem 2rem;
    position: absolute;
    top: -1.2rem;
    left: 5rem;
    background-color: #16D6FA;
    color: white;
    font-size: 1.2rem;
    font-family: "Almarai", sans-serif;
}

.Reset__input {
    padding: 1.5rem 3rem;
    width: 100%;
    font-family: "Almarai", sans-serif;
    border: none;
    outline: none;
    color: #4d4d4d;
}

.Reset__input:focus {
    border-bottom: 1px solid #A8F387;
}

.Reset__button {
    padding: 1.5rem 3rem;
    width: 100%;
    font-family: "Almarai", sans-serif;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background-image: -webkit-gradient(linear, left top, right top, from(#16D6FA), to(#A8F387));
    background-image: -o-linear-gradient(left, #16D6FA, #A8F387);
    background-image: linear-gradient(to right, #16D6FA, #A8F387);
}

.Reset__button:hover {
    background-image: -webkit-gradient(linear, right top, left top, from(#16D6FA), to(#A8F387));
    background-image: -o-linear-gradient(right, #16D6FA, #A8F387);
    background-image: linear-gradient(to left, #16D6FA, #A8F387);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
}

.Reset__button:focus {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.Reset__button:active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: none;
    box-shadow: none;
}